html {
  font-size: 62.5%;
  --bg-color: #22272e;
  --title-color: #fff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem;
  width: 40rem;
}

.c-form {
  width: 30rem;
  height: 40rem;
  display: flex;
  justify-content: center;
}

.c-inputs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input {
  margin: 0.5rem;
  outline: none;
}

#input-cep {
  width: 15rem;
  height: 2.5rem;
}

#bt-send {
  width: 10rem;
  outline: none;
}

#title {
  font-size: 2rem;
  color: var(--title-color);
  font-family: sans-serif;
}
