<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', path='css/home.css') }}" rel="stylesheet">
    <title>Teste Inventario</title>
  </head>
  <body>
    <div class="container">
      <form class="c-form" action="/cep" method="get">
        <div class="c-inputs">
          <p id="title">CEP Finder</p>
          <input class="form-input" type="number" name="cep" />
          <input class="form-input" type="submit"></button>
        </div>  
      </form>
    </div>
  </body>
</html>
